HIPS_WEB_USERNAME=admin
HIPS_WEB_PASSWORD=CAMBIAR_PASSWORD
HIPS_SECRET_KEY=CAMBIAR_SECRET_KEY

HIPS_LOG_DIR=/var/log/hips

HIPS_DB_ENABLED=true
HIPS_DB_HOST=localhost
HIPS_DB_PORT=5432
HIPS_DB_NAME=hips_db
HIPS_DB_USER=hips_app
HIPS_DB_PASSWORD=CAMBIAR_PASSWORD_DB
